name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: eclipse-temurin:21-jdk
      options: --user root
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gradle/actions/wrapper-validation@v3
      - run: ./gradlew check build publishToMavenLocal --stacktrace --warning-mode=fail
      - uses: Juuxel/publish-checkstyle-report@v1
        if: ${{ failure() }}
        with:
          reports: |
            **/build/reports/checkstyle/*.xml
      - uses: actions/upload-artifact@v4
        with:
          name: Main Artifacts
          path: build/libs/
      - uses: actions/upload-artifact@v4
        with:
          name: Modules Artifacts
          path: ./**/build/libs/
      - uses: actions/upload-artifact@v4
        with:
          name: Maven Local
          path: ~/.m2/repository
