name: Build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        java: [ 17-jdk, 21-jdk ]
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gradle/actions/wrapper-validation@v3
      - run: ./gradlew check build publishToMavenLocal --stacktrace -Porg.gradle.parallel.threads=4 --warning-mode=fail
      - uses: Juuxel/publish-checkstyle-report@v1
        if: ${{ failure() }}
        with:
          reports: |
            **/build/reports/checkstyle/*.xml
      - uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: ./**/build/libs/
      - uses: actions/upload-artifact@v4
        with:
          name: Maven Local
          path: /root/.m2/repository
